@model eNompilo.v3._0._1.Models.GeneralAppointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GeneralAppointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientIssues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientIssues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
