@model eNompilo.v3._0._1.Models.SystemUsers.Practitioner

@{
    ViewData["Title"] = "PractitionerProfile";
}

<h1>PractitionerProfile</h1>

<div>
    <h4>Practitioner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PractitionerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PractitionerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CounsellorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CounsellorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
